@page "/forcepowers"
@attribute [Authorize]
@inject IApiService ApiService

<h1>Force Powers</h1>
<NavLink href="forcepowers/add" class="btn btn-sm btn-success mb-2">Add Force Power</NavLink>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Level</th>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (loading)
        { 
            <tr>
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center"></span>
                </td>
            </tr>
        }
        else if (forcePowers != null)
        {
            foreach (var power in forcePowers)
            {
                <tr>
                    <td>@power.Level</td>
                    <td>@power.Name</td>
                    <td style="white-space: nowrap">
                        <NavLink href="@($"forcepowers/edit/{power.Id}")" class="btn btn-sm btn-primary mr-1">Edit</NavLink>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" @onclick="(() => RemoveForcePower(power))">
                            <span class="oi oi-trash" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4">
                    <PagingFooter T=ForcePowerResponse @bind-Data=forcePowers CurrentPage=@paging.PageNumber CurrentPageChanged=@((int page) => CurrentPageChanged(page) ) />
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private bool loading;
    private PagingParameters paging = new();
    private PagedList<ForcePowerResponse>? forcePowers;

    protected override async Task OnInitializedAsync()
    {
        await RefreshForcePowers();
    }

    private async Task RefreshForcePowers()
    {
        loading = true;
        forcePowers = await ApiService.GetAllPagedEntities<ForcePowerResponse>(paging);
        loading = false;
    }

    private async Task RemoveForcePower(ForcePowerResponse forcePower)
    {
        if (forcePowers == null)
            return; 
        forcePowers.Remove(forcePower);
        await ApiService.RemoveEntity<ForcePowerResponse>(forcePower.Id);
    }

    private async Task CurrentPageChanged(int page)
    {
        paging.PageNumber = page;
        await RefreshForcePowers();
    }
}