@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

<RadzenDialog />

@if (AccountService.GetLoggedIn())
{
     <RadzenMenu Class="navbar-expand bg-dark" >
        <RadzenMenuItem Text="Home" Path="/" Icon="home" Class="nav-main-link"/>
        <RadzenMenuItem Text="Data" Icon="topic" Class="nav-main-link">
            <RadzenMenuItem Text="Characters" Path="characters" Icon="person" Class="nav-main-link nav-sub-main-link bg-secondary"/>
            <RadzenMenuItem Text="Creatures" Path="creatures" Icon="groups" Class="nav-main-link nav-sub-main-link bg-secondary"/>
            <RadzenMenuItem Text="Force Powers" Path="forcepowers" Icon="front_hand" Class="nav-main-link nav-sub-main-link bg-secondary"/>
            <RadzenMenuItem Text="Tech Powers" Path="techpowers" Icon="memory" Class="nav-main-link nav-sub-main-link bg-secondary"/>
        </RadzenMenuItem>
        <RadzenMenuItem Text="Encounters" Path="encounters" Icon="close_fullscreen" Class="nav-main-link"/>
        <RadzenMenuItem Text="Logout" Path="account/logout" Icon="logout" Class="nav-main-link"/>
    </RadzenMenu>
}

<div class="app-container @(AccountService.GetLoggedIn() ? "bg-light" : "")">
    <Alert />
    @Body
</div>